body{
  margin-top: 50px;
}
ul{
  list-style-type: none;
  display: -webkit-box;
  li{
    margin: 5px;
  }
}
hr{
  width: 50%;
}
.loginHeading{
  text-align: center;
  font-size: 100px;
}
.divLoginButton{
  text-align: center;
  font-size: 40px;
}
.accessCodeInput{
  text-align: center;
}
