div.container-fluid
h1(class="text-center") Archived Tryouts
table.table.table-striped
  thead
    tr
      th Name
      th Date
      th Time
      th View Scores
  tbody
    tr(ng-repeat="tryout in archive.displayArchivedTryouts.val track by $index")
      td {{ tryout.title }}
      td {{ tryout.dateString }}
      td {{ tryout.time }}
      td
        button(class="btn btn-md" ng-click="archive.reviewTryout(tryout)") Review
