div.container-fluid
  div
    h1.text-center Edit Information
    
    p.text-center Warning! Any changes made to categories will reset any scores given to players
        ng-form(role="form" name="editForm")
          
          // Title
          div.form-panel
            div.form-panel-group
              label(for="title" class="text-center form-panel-heading") Tryout Title
              input(class="form-control" type="text" name="title" ng-model="edit.tryoutData.val.title" required)
              p(class="help-block" ng-show="editForm.title.$invalid") This field is required
              
          // Date
          div.form-panel
            div.form-panel-group
              label(for="tryoutDate" class="text-center form-panel-heading") Date
              input(class="form-control" type="text" name="date" pick-a-date="edit.currDate" placeholder="Pick a date" ng-model="edit.tryoutData.val.dateString" required)
              p(class="help-block" ng-show="editForm.date.$invalid") This field is required
            
          // Time
          div.form-panel
            div.form-panel-group
              label(for="tryoutTime" class="text-center form-panel-heading") Time
              input(class="form-control" type="text" name="time" pick-a-time="edit.currTime" pick-a-time-options="{interval:15, min:[7, 30], max:[21,0]}" placeholder="Enter time" ng-model="edit.tryoutData.val.time" required)
              p(class="help-block" ng-show="editForm.time.$invalid") This field is required
          
          // Categories
          div.form-panel.form-panel-has-button
            div.form-panel-group                
                
              //- Repeat
              div(ng-repeat="categ in edit.tryoutData.val.categories track by $index")
                
                //- Form Title
                label(ng-show="$first" class="text-center form-panel-heading") Categories
                
                div(class="form-panel-category" ng-show="$first")
                  input(class="form-control" type="text" name="categ" ng-model="categ.field" placeholder="Enter category")

                div(class="input-group form-panel-category" ng-show="!$first")
                  input(class="form-control" type="text" name="categ" ng-model="categ.field" placeholder="Enter category" required)
                  p(class="help-block" ng-show="editForm.categ.$invalid") This field cannot be empty      
                  span.input-group-btn
                    button(class="btn btn-sport-default" ng-show="!$first" ng-click="edit.removeField($index)")
                      i(class="fa fa-minus")
                    
            // Add Categories button
            button(class="btn form-panel-btn-add" ng-click="edit.addField()")
              i.fa.fa-plus.form-panel-btn-icon
              span Add Category
            
          // Players
          div.form-panel
            div.form-panel-group
              label(for="playerAlias" class="text-center form-panel-heading") Players
              div(ng-repeat="player in edit.tryoutData.val.players")
                span {{ player.profiles.first_name }} {{ player.profiles.last_name }} ({{ player.profiles.level }})
                input(class="form-control" ng-model="player.jerseyNum")

  button(class="btn btn-spt-default" ng-click="edit.back()") Cancel
  button(class="btn btn-spt-primary" ng-click="edit.saveEdits()") Save
