div.container-fluid
  h1(class="text-center") Login
  a(href="/auth/sportngin" target="_self")
    button(class="btn btn-primary btn-lg center-block" ng-click="login.SNLogin()") Login with Sport Ngin
  
  hr 
  
  input(type="text" class="form-control")
