
div(ui-content-for="modals")
  div(class="modal modal-overlay" ui-if="guestModal" ui-state="guestModal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(class="close" ui-turn-off="guestModal") &times;
          h4.modal-title Guest Access
        
        div.modal-body
          input(type="text" class="form-control input-lg")
            
        div.modal-footer
          button(ui-turn-off="guestModal" class="btn btn-default") close
          button(ui-turn-off="guestModal" class="btn btn-primary") Login
        



div.container-fluid
  
  div.col-md-3
  
  div.col-md-6
    h1(class="text-center") Login
    a(href="/auth/sportngin" target="_self" class="btn btn-primary btn-lg center-block") Sport Ngin
    
    hr 
    
    a(ui-turn-on="guestModal" class="btn btn-default btn-lg center-block") Guest access code
      
  div.col-md-3
