div(ui-content-for="modals")
  div(class="modal modal-overlay" ui-if="confirmModal" ui-state="confirmModal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(class="close" ui-turn-off="deleteModal") &times;
          h4.modal-title Delete Tryout
        
        div.modal-body
          p Any changes made will be lost. Continue?
            
        div.modal-footer
          button(ui-turn-off="confirmModal" class="btn btn-primary") Cancel
          button(ui-turn-off="confirmModal" ng-click="input.back()" class="btn btn-danger") Cancel

div.container-fluid
  h1(class="text-center") Tryout Information
  
  ng-form(role="form" name="tryoutForm")
    div(class="form-group row")
      label(for="title") Tryout Title
      input(class="form-control" type="text" name="title" placeholder="Enter Tryout Title" ng-model="input.tryout.title" required)
      p(class="help-block" ng-show="tryoutForm.title.$invalid") This field is required
    
    div(class="form-group row")
      label(for="tryoutDate") Date
      input(class="form-control" type="text" name="date" pick-a-date="input.currDate" pick-a-date-options="{min: input.currDate}" placeholder="Pick a date" ng-model="input.tryout.date" required)
      p(class="help-block" ng-show="tryoutForm.date.$invalid") This field is required
      
    div(class="form-group row")
      label(for="tryoutTime") Time
      input(class="form-control" type="text" name="time" pick-a-time="input.currTime" pick-a-time-options="{interval:15, min:[7, 30], max:[21,0]}" placeholder="Enter time" ng-model="input.tryout.time" required)
      p(class="help-block" ng-show="tryoutForm.date.$invalid") This field is required

    div(class="form-group row" ng-repeat="categ in input.categories track by $index")
      ng-form(name="categoryForm")
        label(for="categ" ng-show="$first") Score Categories
        div
          input(class="form-control" type="text" name="" ng-model="categ.field" placeholder="Enter score category" required)
          p(class="help-block" ng-show="tryoutForm.categ.$invalid") This field cannot be empty
          button(class="btn btn-xs" ng-show="!$first" ng-click="input.removeField($index)")
            i(class="fa fa-minus")
        button(class="btn btn-sm center-block" ng-show="$last" ng-click="input.addField()")
          i(class="fa fa-2x fa-plus")
    
    input(type="button" class="btn btn-md" ng-click="input.back()" value="Cancel" title="Cancel")
    input(type="submit" class="btn btn-md" ng-disabled="tryoutForm.$invalid" ng-click="input.submitInfo()" value="Save" title="Submit")
