div.container-fluid
  h1 Players
  p Assign Player Numbers

    div(class="form-group row" ng-repeat="player in num.tryout.playersList")
      label(for="name") Player Number 
      input(class="form-control" type="text" name="name")
      input(class="form-control" type="text" name="name")


a()
  button(class="btn btn-primary" ng-click="num.savePlayers()") Save
