div.container-fluid
  h1 Players
  p Assign Player Numbers

    div(class="form-group row" ng-repeat="player in    ")
      label(for="number") Player Number 
      input(class="form-control" type="text" name="number")
      input(class="form-control" type="text" name="name" ng-model="{{player.    }}")
      button(class="btn btn-primary") Delete Player


a(href="/archives")
  button(class="btn btn-primary") Archives

a(href="/new")
  button(class="btn btn-primary") Create new Tryout
