div.container-fluid
  h1 Players
  p Assign Player Numbers
  p Warning! Please complete this page before leaving
    div(class="form-group row" ng-repeat="player in num.playersList.val") 
      input(class="form-control playerAlias" type="text" name="playerAlias" maxlength="2" ng-model="player.alias")
      p {{player.qu_el_3797779}} {{player.qu_el_3797780}} (Division: {{player.qu_el_3797961}})

button(class="btn sportBtn" ng-click="num.savePlayers()") Save
