div.container-fluid
  ng-form(role="form" name="asc.scoreForm")
    div(ng-repeat="player in assign.player.val.players")
      h1(class="text-center") {{ player.profiles.first_name }} {{ player.profiles.last_name }} # {{ player.jerseyNum }}
        
      div(class="form-panel" ng-repeat="categ in player.categories")
        div.form-panel-group
          label.text-center.form-panel-heading {{ categ.field }}
          input(class="form-control" type="number" name="score" ng-model="categ.score")
        
      div.form-panel
        div.form-panel-group
          p.text-center.form-panel-heading Total {{ assign.calcTotal() }} 
          h1.text-center {{ player.total }}
        
      input(class="btn btn-spt-default" type="button" ng-click="assign.back()" value="Cancel")
      input(class="btn btn-spt-primary" type="submit" ng-click="assign.saveScoresAndTotal(player)" value="Save")
