div.container-fluid
  
  if guest
    h3(class="text-center") Tryout: {{ home.tryouts.val.title }}

    p {{ home.tryouts.val.dateString }} @ {{ home.tryouts.val.time }}
    p Scoring categories: 
      span(ng-repeat="categ in home.tryouts.val.categories")
        span.label.label-success {{ categ.field }}{{$last ? '' : ($index == home.tryouts.val.categories.length-2) ? ', and ' : ', '}}
    
    h5 Players
    
    ul.list
      li(ng-repeat="player in home.tryouts.val.players track by $index")
        div(class="item" ng-click="home.reviewPlayer(player)")
          p(class="col-xs-3") # {{player.jerseyNum}}
          
          p(class="col-xs-7") 
          div(class="col-xs-2")
            span(ng-if="!player.total") --
            span(ng-if="player.total") {{player.total}}

  else
    h3(class="text-center") Tryout: {{ review.displayTryout.val.title }}

    button(class="btn btn-md" ng-click="review.editTryout()") Edit Tryout
    p {{ review.displayTryout.val.dateString }} @ {{ review.displayTryout.val.time }}
    p Scoring categories: 
      span(ng-repeat="categ in review.displayTryout.val.categories")
        span.label.label-success {{ categ.field }}{{$last ? '' : ($index == review.displayTryout.val.categories.length-2) ? ', and ' : ', '}}
    
    p Select a player to begin scoring
    
    ul.list
      li(ng-repeat="player in review.displayTryout.val.players track by $index")
        div(class="item" ng-click="review.reviewPlayer(player)")
          p(class="col-xs-3") # {{player.jerseyNum}}
          
          p(class="col-xs-7") {{player.profiles.first_name}} {{player.profiles.last_name}}
          div(class="col-xs-2")
            span(ng-if="!player.total") --
            span(ng-if="player.total") {{player.total}}
            
