div.container-fluid
h1 Tryout Management
p Upcoming Tryouts
table
      tr
        td Name
        td Date
      tr
        td Division 1 tryouts
        td 06/19/2053

a(href="/archives")
  button(class="btn btn-primary") Archives

a(href="/information")
  button(class="btn btn-primary") Create new Tryout
