div.container-fluid
h1 Tryout Management
p Upcoming Tryouts
table.table.table-striped
  thead
      tr
        th Name
        th Date
        th Guest Code
  tbody
      tr(ng-repeat="tryout in login.tryouts track by $index")
        td {{tryout.title}}
        td {{tryout.dateString}}
        td 
          button(ng-if="!tryout.code" class="btn btn-success btn-xs" ng-click="login.generateGuestCode(tryout)") Get Code
          span(ng-if="tryout.code") {{tryout.code}}
a(href="/archives")
  button(class="btn btn-primary") Archives

a(href="/new")
  button(class="btn btn-primary") Create new Tryout
