div(ui-content-for="modals")
  div(class="modal modal-overlay" ui-if="deleteModal" ui-state="deleteModal")
    div.modal-dialog
      div.modal-content
        div.modal-header
          button(class="close" ui-turn-off="deleteModal") &times;
          h4.modal-title Delete Tryout
        
        div.modal-body
          p Removing this tryout will delete it perminantly. Are you sure you would like to continue?
            
        div.modal-footer
          button(ui-turn-off="deleteModal" class="btn sportBtn") Cancel
          button(ui-turn-off="deleteModal" ng-click="home.deleteTryout(home.tryoutToDelete)" class="btn btn-danger") Delete


div.container-fluid
  h1(class="text-center") Tryout Management
  p(class="text-center") Upcoming Tryouts

  ul.list
    li.list-header
      span.col-xs-6 Tryout Name
      span.col-xs-3 Date
      span.col-xs-2 Time
      
      
      
    li(ng-repeat="tryout in home.tryouts.val track by $index")
      div(class="item item-has-dropdown" ng-click="home.reviewTryout(tryout)")
        p.col-xs-6 {{tryout.title}}
        p.col-xs-3 {{tryout.dateString}}
        p.col-xs-2 {{tryout.time}}
      div(class="item item-dropdown-button" id="list-dropdown" ui-turn-on="dropdown{{$index}}")
        i(class="fa fa-ellipsis-v item-dropdown-icon" aria-hidden="true")
          
        ul(class="list list-dropdown-menu" id="dropdown{{$index}}" aria-labelledby="list-dropdown" ui-outer-click="Ui.turnOff('dropdown' + $index)" ui-outer-click-if="Ui.active('dropdown' + $index)" ui-show="dropdown{{$index}}" ui-state="dropdown{{$index}}" ui-turn-off="dropdown{{$index}}")
          li(class="list-dropdown-item" ng-if="!tryout.code" ng-click="home.generateGuestCode(tryout)") Get code
          
          li(class="list-dropdown-item list-dropdown-container" ng-if="tryout.code")
            p.text-center Code
            input(type="text" class="form-control" value="{{tryout.code}}" readonly )
            
          li(class="list-dropdown-item" ng-click="home.editTryout(tryout._id)") Edit
          li(class="list-dropdown-item" ui-turn-on="deleteModal" ng-click="home.tryoutToDelete = tryout") 
            i(class="fa fa-trash")
            span Delete
          
  a(href="/archives")
    button(class="btn btn-spt-default") Archives

  button(class="btn btn-spt-primary" ng-click="home.createNew()") Create new Tryout
