div.container-fluid
h1 Tryout Management
p Upcoming Tryouts
table
  thead
      tr
        td Name
        td Date
  tbody
      tr(ng-repeat="tryout in login.tryouts")
        td {{tryout.title}}
        td {{tryout.date}}

a(href="/archives")
  button(class="btn btn-primary") Archives

a(href="/new")
  button(class="btn btn-primary") Create new Tryout
