div.container-fluid
  h3(class="text-center") Tryout: {{ review.displayTryout.val.title }}
  button(class="btn btn-md" ng-click="review.editTryout()") Edit Tryout
  p {{ review.displayTryout.val.dateString }} @ {{ review.displayTryout.val.time }}
  p Scoring categories: 
    span(ng-repeat="categ in review.displayTryout.val.categories")
      span {{ categ.field }}{{$last ? '' : ($index == review.displayTryout.val.categories.length-2) ? ', and ' : ', '}}
  
  h5 Players
  div(ng-repeat="player in review.displayTryout.val.players track by $index")
    div(class="row")
      p(class="col-md-1") # {{player.jerseyNum}}
      
      div(class="col-md-4")
        p {{player.profiles.first_name}} {{player.profiles.last_name}}
      div(class="col-md-1")
        button(ng-click="review.reviewPlayer(player)") Score
      div(class="col-md-4")
        p(class="col-md-4") Total : 
          span(ng-if="!player.total") --
          span(ng-if="player.total") {{player.total}}
