doctype html
html(ng-app="tryoutsApp")
  head
    title Sport Ngin Tryouts
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")
    
    //-- Scripts
    script(src="vendor/jquery/dist/jquery.min.js")
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-route/angular-route.min.js")
    script(src="vendor/mobile-angular-ui/dist/js/mobile-angular-ui.min.js")
    script(src="vendor/mobile-angular-ui/dist/js/mobile-angular-ui.core.min.js")
    script(src="vendor/mobile-angular-ui/dist/js/mobile-angular-ui.gestures.min.js")
    script(src="vendor/pickadate/lib/compressed/picker.js")
    script(src="vendor/angular-loading-bar/build/loading-bar.min.js")
    script(src="vendor/ng-pickadate/ng-pickadate.js")
    script(src="vendor/pickadate/lib/compressed/picker.date.js")
    script(src="vendor/pickadate/lib/compressed/picker.time.js")
    script(src="assets/js/client.min.js")
      
    //-- CSS
    link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="vendor/mobile-angular-ui/dist/css/mobile-angular-ui-base.min.css")
    link(rel="stylesheet" href="vendor/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.min.css")
    link(rel="stylesheet" href="vendor/mobile-angular-ui/dist/css/mobile-angular-ui-hover.min.css")
    link(rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.min.css")
    link(rel="stylesheet" href="vendor/pickadate/lib/compressed/themes/default.css")
    link(rel="stylesheet" href="vendor/pickadate/lib/compressed/themes/default.date.css")
    link(rel="stylesheet" href="vendor/pickadate/lib/compressed/themes/default.time.css")
    link(rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="assets/css/style.min.css")

    
    
  body(prevent-touchmove-defaults ng-controller="AppController as app")
    
    // Modals
    div(ui-yield-to="modals")
        
    // Sidebar
    div(class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="uiSidebarLeft")
      h1(class="app-name" ng-if="!app.user.data.username") Menu
      h1(class="app-name" ng-if="app.user.data.username") {{app.user.data.first_name}} {{app.user.data.last_name}}
      h1(class="app-name" ng-if="app.user.data.guest") Guest
      
      div.scrollable
        div.scrollable-content
          div(class="list-group" ui-turn-off="uiSidebarLeft")
            
            a(class="homeLink list-group-item" href="/") Home
              i(class="fa fa-chevron-right pull-right")
            
            a(class="list-group-item" href="/logout") Logout
              i.fa.fa-chevron-right.pull-right
          

    main(class="app" ui-swipe-right="Ui.turnOn('uiSidebarLeft')" ui-swipe-left="Ui.turnOff('uiSidebarLeft')")
      
      
      // Desktop Navbar 
      nav(class="navbar navbar-default navbar-fixed-top navbar-desktop")
        div.container-fluid
          div.navbar-header

          
          ul.nav.navbar-nav
            li 
              a(href="/") Home
            li 
              //- a(href="/tryouts") Tryouts
              
          ul(class="nav navbar-nav navbar-right" ng-if="app.user.data.username")
            li
              p(class="navbar-text" ng-if="app.user.data.first_name") Hello, {{app.user.data.first_name}} {{app.user.data.last_name}}
              p(class="navbar-text" ng-if="app.user.data.guest") Guest
            li
              a(href="/logout") Logout
                
      // Mobile Navbar    
      div(class="navbar navbar-app navbar-absolute-top navbar-mobile")
        div.container-fluid
        div(class="navbar-brand navbar-brand-center") Tryouts

        div(class="btn-group pull-left")
          div(ui-toggle='uiSidebarLeft' class="btn btn-navbar sidebar-toggle")
            i(class="fa fa-bars")

      
      // Body of application
      section.app-body.scrollable.body
        //- p User Object: {{app.user.data}}
        //- p Guest Object: {{app.user.guest}}

        ng-view.app-content.scrollable-content
    
