doctype html
html(ng-app="tryoutsApp")
  head
    title Sport Ngin Tryouts
    base(href="/")
    script(src="vendor/angular/angular.min.js")
    script(src="vendor/angular-route/angular-route.min.js")
    script(src="assets/js/client.min.js")
    link(rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="assets/css/style.min.css")
  body
    //- div(class="sidebar sidebar-left")
    //-   div(class="scrollable")
    //-     h1(class="scrollable-header app-name") My app
    //-     div(class="scrollable-content")
    //-       div(class="list-group" ui-turn-off="uiSidebarLeft")
    //-         a(class="list-group-item" href="#/link1") Link 1
    //-           i(class="fa fa-chevron-right pull-right")
    //-         a(class="list-group-item" href="/link2") Link 2
    //-           i(class="fa fa-chevron-right pull-right")
              
      
    p nav bar up here
    div(ng-view)

    
